.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
  .App {
    flex-direction: column;
  }
}
